#root {
  width: 880px;
  margin: 0 auto;
  padding: 1rem;
}

.btnActions {
  margin:4px;
  padding: 0px;
  width: 75px;
}

.rowHeader {
  background-color: #888;
  font-weight: bolder;
  color:aliceblue;
  padding:0.5em;
  border-radius: 0.5em;
  text-align: left;
}

.rowContact {
  color:black;
  border-radius: 0.5em;
  text-align: left;
}